<template>
  <div>
    <div class="card shadow"
         :class="type === 'dark' ? 'bg-default': ''">
      <div class="card-header border-0"
           :class="type === 'dark' ? 'bg-transparent': ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
              {{title}} <a class="ni ni-fat-remove" @click="clearList"></a>
            </h3>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <base-table class="table align-items-center table-flush"
                    :class="type === 'dark' ? 'table-dark': ''"
                    :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
                    tbody-classes="list"
                    :data="productData"
                    type="hover">
          <template slot="columns">
            <th></th>
            <th>Product</th>
            <th>Qty</th>
            <th>Row total</th>
            <th>Remove</th>
            <th class="text-right">Move</th>
          </template>

          <template slot-scope="{row}">
            <td class="checkbox">
              <input type="checkbox" @click="checkProduct(row)" />
            </td>
            <td class="name">
              <span>{{row.product}}</span> <br />
              <span>{{formatPrice(row.data.price)}}</span>
            </td>
            <td class="name">
              <span>{{row.quantity}}</span>
            </td>
            <td class="total-price">
              <span>{{formatPrice(row.total_price)}}</span>
            </td>
  <!--          <td class="description">-->
  <!--            <p>{{row.description}}</p>-->
  <!--          </td>-->
            <td>
              <a class="ni ni-2x ni-fat-remove" @click="removeProduct(row)"></a>
            </td>
            <td class="text-right">
              <span class="ni ni-bold-up" @click="moveListItem(row, 'up')"></span>
              <span class="ni ni-bold-down" @click="moveListItem(row, 'down')"></span>
            </td>
          </template>
        </base-table>
      </div>
      <div class="card-footer d-flex justify-content-end"
           :class="type === 'dark' ? 'bg-transparent': ''">
        Productlist total: {{totalPriceProductList}}
        <base-pagination :total="total" :per-page="10"></base-pagination>
      </div>
    </div>

    <div class="card shadow bg-default" v-if="checkedProducts.length > 0"
         :class="type === 'dark' ? 'bg-default': ''">
      <div class="card-header border-0 bg-transparent"
           :class="type === 'dark' ? 'bg-transparent': ''">
        <div class="row align-items-center">
          <div class="col dark">
            <h3 class="mb-0 text-white" :class="type === 'dark' ? 'text-white': ''">
              Checklist <a class="ni ni-fat-remove" @click="clearChecklist"></a>
            </h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <base-table class="table align-items-center table-flush table-dark"
                    :class="type === 'dark' ? 'table-dark': ''"
                    thead-classes="thead-dark"
                    tbody-classes="list"
                    :data="checkedProducts"
                    type="striped">
          <template slot="columns">
            <th>Product</th>
          </template>
          <template slot-scope="{row}">
            <td class="name">
              <span><del>{{row.product}} (x{{row.quantity}})</del></span>
            </td>
          </template>
        </base-table>
        <div class="card-footer d-flex justify-content-end bg-transparent"
             :class="type === 'dark' ? 'bg-transparent': ''">
          Checklist total: {{totalPriceCheckedProducts}}
          <base-pagination :total="checkedTotal" :per-page="10"></base-pagination>
        </div>
      </div>

    </div>
  </div>

</template>
<script>
  import { NotifyMixin } from '@/mixins/notification-mixin'
  import { CurrencyFormatter } from '@/mixins/currency-formatter'

  export default {
    name: 'list-table',
    mixins: [NotifyMixin, CurrencyFormatter],
    components: {
    },
    props: {
      type: {
        type: String
      },
      title: String
    },
    data() {
      return {
      }
    },
    computed: {
      productData () {
        return this.$store.getters.productlist
      },
      checkedProducts () {
        return this.$store.getters.checkedProducts
      },
      totalPriceProductList () {
        let totalPrice = 0
        this.productData.forEach(product => {
          totalPrice += product.total_price
        })
        return this.formatPrice(totalPrice)
      },
      totalPriceCheckedProducts () {
        let totalPrice = 0
        this.checkedProducts.forEach(product => {
          totalPrice += product.total_price
        })
        return this.formatPrice(totalPrice)
      }
    },
    methods: {
      checkProduct (product) {
        this.$store.dispatch('checkProduct', product)
        this.$store.dispatch('removeFromList', product)
      },
      removeProduct (product) {
        this.$store.dispatch('removeFromList', product)
        this.notifyVue('top', 'center', `${product.product} removed from list`, 'warning', 'ni ni-bullet-list-67')
      },
      clearList () {
        this.$store.dispatch('clearList')
      },
      clearChecklist () {
        this.$store.dispatch('clearChecklist')
      },
      moveListItem (data, move) {
        this.$store.dispatch('moveListItem', { data, move })
      }
    }
  }
</script>
<style>
</style>
