<template>
  <div class="card shadow"
       :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">
            {{title}}
          </h3>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <base-table class="table align-items-center table-flush"
                  :class="type === 'dark' ? 'table-dark': ''"
                  :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
                  tbody-classes="list"
                  :data="productData"
                  type="hover">
        <template slot="columns">
          <th>Title</th>
<!--          <th>Description</th>-->
          <th>Quantity</th>
          <th></th>
        </template>

        <template slot-scope="{row}">
          <td class="name">
            <span>{{row.title}}</span> <br/>
            {{formatPrice(row.price)}}
          </td>
<!--          <td class="description">-->
<!--            <p>{{row.description}}</p>-->
<!--          </td>-->
          <td class="qty">
            <quantity v-bind:title="row.title" v-bind:data="row" @callback="addToList" />
          </td>
          <td class="text-right">
            <base-dropdown class="dropdown"
                           position="right">
              <a slot="title" class="btn btn-sm btn-icon-only text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </a>

              <template>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </template>
            </base-dropdown>
          </td>
        </template>
      </base-table>
    </div>

    <div class="card-footer d-flex justify-content-end"
         :class="type === 'dark' ? 'bg-transparent': ''">
      <base-pagination :total="total" :per-page="10"></base-pagination>
    </div>

  </div>
</template>
<script>
  import store from '@/plugins/store';
  import { NotifyMixin } from '@/mixins/notification-mixin'
  import { CurrencyFormatter } from "@/mixins/currency-formatter";
  import Quantity from '@/components/Quantity'

  export default {
    name: 'products-table',
    mixins: [NotifyMixin, CurrencyFormatter],
    components: {
      Quantity
    },
    props: {
      type: {
        type: String
      },
      title: String
    },
    computed: {
      loadingStatus () {
        return this.$store.getters.authStatus === 'loading'
      },
      productList () {
        return this.$store.getters.productlist
      }
    },
    mounted() {
      this.productData = store.getters.products
      this.total = store.getters.products.length
      // axios
      //   .get("http://localhost:5000/book/")
      //   .then(response => {
      //     this.tableData = response.data
      //     this.total = response.data.length;
      //   })
      // .catch(error => {
      //   this.notifyVue('top', 'center', "Something went wrong fetching book", 'danger', 'ni ni-books')
      //   console.log(error);
      // })
    },
    data() {
      return {
        productData: [],
        total: 0
      }
    },
    methods: {
      isInProductList(data) {
        return this.productList.findIndex(elem => elem.product === data.product) > -1
      },
      addToList (data) {
        if (!this.isInProductList(data)) {
          this.notifyVue('top', 'center', `${data.product} added to list`, 'success', 'ni ni-bullet-list-67')
        }
        this.$store.dispatch('list', data)
      }
    }
  }
</script>
<style>
</style>
