<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <products-table title="Products"></products-table>
                </div>
            </div>
<!--            <div class="row mt-5">-->
<!--                <div class="col">-->
<!--                    <projects-table type="dark" title="Dark Table"></projects-table>-->
<!--                </div>-->
<!--            </div>-->
        </div>

    </div>
</template>
<script>
  import ProductsTable from './ProductsTable'
  export default {
    name: 'tables',
    components: {
        ProductsTable
    }
  };
</script>
<style></style>
