<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <form role="form" @submit.prevent="login">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Username"
                                        addon-left-icon="ni ni-email-83"
                                        v-model="username">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Password"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="password">
                            </base-input>

                            <base-checkbox class="custom-control-alternative">
                                <span class="text-muted">Remember me</span>
                            </base-checkbox>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Sign in</button>
<!--                                <base-button type="primary" class="my-4">Sign in</base-button>-->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a href="#" class="text-light"><small>Forgot password?</small></a>
                    </div>
                    <div class="col-6 text-right">
                        <router-link to="/register" class="text-light"><small>Create new account</small></router-link>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    import { NotifyMixin } from '@/mixins/notification-mixin'
  export default {
    name: 'login',
      mixins: [NotifyMixin],
    data() {
      return {
          username: "",
          password: ""
        }
    },
      methods: {
          login: function () {
              let username = this.username
              let password = this.password
              this.$store.dispatch('login', { username, password })
                  .then(() => {
                      this.notifyVue('top', 'center', 'Welcome '+username, 'info', 'ni ni-single-02')
                      this.$router.push('/')
                  })
                  .catch(err => {
                      console.log(err)
                      this.notifyVue('top', 'center', `Something went wrong during login!`, 'danger', 'ni ni-single-02')
                  })
          }
      }
  }
</script>
<style>
</style>
