<template>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
<!--                <div class="card-header bg-transparent pb-5">-->
<!--                    <div class="text-muted text-center mt-2 mb-3">-->
<!--                        <small>Sign up with</small>-->
<!--                    </div>-->
<!--                    <div class="btn-wrapper text-center">-->
<!--                        <a href="#" class="btn btn-neutral btn-icon">-->
<!--                            <span class="btn-inner&#45;&#45;icon"><img src="img/icons/common/github.svg"></span>-->
<!--                            <span class="btn-inner&#45;&#45;text">Github</span>-->
<!--                        </a>-->
<!--                        <a href="#" class="btn btn-neutral btn-icon">-->
<!--                            <span class="btn-inner&#45;&#45;icon"><img src="img/icons/common/google.svg"></span>-->
<!--                            <span class="btn-inner&#45;&#45;text">Google</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="card-body px-lg-5 py-lg-5">
<!--                    <div class="text-center text-muted mb-4">-->
<!--                        <small>Or sign up with credentials</small>-->
<!--                    </div>-->
                    <form role="form">


                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Username"
                                    addon-left-icon="ni ni-hat-3"
                                    v-model="model.username">
                        </base-input>

                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Email"
                                    addon-left-icon="ni ni-email-83"
                                    v-model="model.email"
                                    :valid="valid"
                                    type="email">
                        </base-input>

                        <base-input class="input-group-alternative"
                                    placeholder="Password"
                                    type="password"
                                    addon-left-icon="ni ni-lock-circle-open"
                                    v-model="model.password">
                        </base-input>

<!--                        <div class="text-muted font-italic">-->
<!--                            <small>password strength: <span class="text-success font-weight-700">strong</span></small>-->
<!--                        </div>-->

                        <div class="row my-4">
                            <div class="col-12">
                                <base-checkbox class="custom-control-alternative">
                                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                </base-checkbox>
                            </div>
                        </div>
                        <div class="text-center">
                            <base-button @click="register" type="primary" class="my-4">Create account</base-button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="#" class="text-light">
                        <small>Forgot password?</small>
                    </a>
                </div>
                <div class="col-6 text-right">
                    <router-link to="/login" class="text-light">
                        <small>Login into your account</small>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { NotifyMixin } from '@/mixins/notification-mixin'
  export default {
    name: 'register',
      mixins: [NotifyMixin],
    data() {
      return {
        model: {
            name : "",
            username: "",
            email : "",
            password : "",
            password_confirmation : "",
            is_admin : null
        },
          valid: true,
          errors: [],
          reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
      }
    },
      methods: {
          register: function () {
              this.validateForm()
              let data = {
                  username: this.model.username,
                  email: this.model.email,
                  password: this.model.password
              }
              if (this.errors.length === 0) {
                  this.$store.dispatch('register', data)
                      .then(() => {
                          this.notifyVue('top', 'center', "Registration successful, please log in now", 'success', 'ni ni-single-02')
                          this.$router.push('/login')
                      })
                      .catch(err => {
                          console.log(err)
                          this.notifyVue('top', 'center', "Something went wrong during registration", 'danger', 'ni ni-single-02')
                      })
              }
          },
          _validEmail: function(email) {
              return this.reg.test(email)
          },
          validateForm: function() {
              this.errors = []
              this.valid = true
              if (!this._validEmail(this.model.email)) {
                  this.errors.push("Please enter a valid email")
                  this.notifyVue('top', 'center', "Please enter a valid email", 'warning', 'ni ni-single-02')
                  this.valid = false
              }
          }
      }

  }
</script>
<style>
</style>
