<template id="item-template">
  <div class="">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="ni ni-hat-3"></i>
          </span>
        </div>
        <input class="form-control" type="text" :placeholder="placehldr" v-model="row.name">
        <div class="input-group-append">
          <button class="btn btn-danger" v-on:click="remove">Remove {{placehldr}}</button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

  export default {
    name: 'my-item',
    props: ['row', 'placehldr'],
    template: "#item-template",
    data: function () {
      return {

      }
    },
    methods: {
      remove() {
        this.$emit('remove');
      }
    }
  };
</script>
<style></style>
