<template>
  <div class="quantity-toggle">
    <button @click="decrement()">&mdash;</button>
    <input type="text" :value="quantity" readonly>
    <button @click="increment()">&#xff0b;</button>
  </div>
</template>
<script>
import { NotifyMixin } from '@/mixins/notification-mixin'
export default {
  name: 'quantity',
  mixins: [NotifyMixin],
  data() {
    return {
      quantity: this.getQty(),
    }
  },
  props: {
    title: String,
    data: {
      type: Object,
      optional: true
    }
  },
  methods: {
    increment () {
      this.quantity++
      this.$emit('callback', { 'quantity': this.quantity, 'product': this.title, 'data': this.data })
    },
    decrement () {
      if(this.quantity === 0) {
        this.notifyVue('top', 'center', "Negative quantity is not allowed", 'danger', 'ni ni-books')
      } else {
        this.quantity--
        this.$emit('callback', { 'quantity': this.quantity, 'product': this.title, 'data': this.data })
      }
    },
    getQty () {
      const self = this
      function isCurrentProduct(product) {
        if(product.product === self.title) {
          return product.quantity;
        }
      }
      const result = this.$store.getters.productlist.find(isCurrentProduct);
      if (typeof result !== "undefined" && result.quantity > 0) {
        return result.quantity;
      }
      return 0
    }
  }
}
</script>
<style lang="scss">
$border: 2px solid #ddd;
.quantity-toggle {
  display: flex;

  input {
    border: 0;
    border-top: $border;
    border-bottom: $border;
    width: 2.5rem;
    text-align: center;
    padding: 0 .5rem;
  }

  button {
    border: $border;
    padding: .5rem;
    background: #f5f5f5;
    color: #888;
    font-size: 1rem;
    cursor: pointer;
  }
}
</style>
