<template>
  <div id="app">
    <notifications></notifications>
    <router-view/>
  </div>
</template>

<script>
  import store from './plugins/store'

  export default {
    components: {},
    store,
    created: function () {
      this.$store.dispatch('products');
      // this.$http.interceptors.response.use(undefined, function (err) {
      //   return new Promise(function (resolve, reject) {
      //     if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
      //       this.$store.dispatch('logout')
      //     }
      //     throw err;
      //   });
      // });
    }
  }
</script>
